@font-face {
  font-family: "Goldman Sans";
  src: local("Goldman Sans"),
    url(./assets/GoldmanSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Goldman Sans Medium";
  src: local("Goldman Sans Medium"),
    url(./assets/GoldmanSans-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Goldman Sans Light";
  src: local("Goldman Sans Light"),
    url(./assets/GoldmanSans-Light.woff2) format("woff2");
}

body {
  margin: 0;
  font-family: "Goldman Sans", -apple-system, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
